/*清除默认边距*/
*{
    margin: 0;
    padding: 0;
}
/*header设置边距 留出页面最上端距离*/
header{
    margin-top: 10px;
}
h2#wa{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
/*语言部分 仅图片*/
.language{
    width: 100%;
    height: 35px;
    background-color: #101111;
}
/*语言下面li标签*/
.language>ul{
    float: right;
    margin-right: 100px;
}
.language>ul>li{
    width: 80px;
    height: 35px;
    background-color: aqua;
    float: left;
    margin-left: 5px;
    list-style: none ;
}
.language>ul>li:nth-of-type(1){
    background: url(../images/首页/En.png);
}
.language>ul>li:nth-of-type(1):hover{
    background: url(../images/首页/En.png) no-repeat -80px 0;
}
.language>ul>li:nth-of-type(2){
    padding-left: 30px;
    font-size: 14px;
    line-height: 35px;
    background: url(../images/首页/tq.png) no-repeat 3px 3px;
    background-color: rgb(12,138,218);
}
/*消除导航栏字体超链接样式*/
a{
    text-decoration: none;
    color: #FFF;
}
/*导航条部分*/
nav{
    width: 100%;
    height: 70px;
    background-color: rgb(226, 70, 43);
}
nav>ul{
    margin-left: 500px;
}
nav>ul>li{
    list-style: none;
    height: 70px;
    padding: 0 40px;
    float: left;
    line-height: 70px;
    font-size: 150%;
    color: #FFF;
}
nav>ul>li:hover{
    background-color: brown;
}
nav>ul>li:nth-of-type(5){
    background-color: brown;
}
header>img{
    float: left;
    margin-top: 35px;
}
/*网页设计*/
.h1{
	width: 130px;
	height: 35px;
	margin: 30px auto 50px;
	font-size: 30px;
	position: relative;
	color: #105086;
}
.h1 p{
	width: 220px;
	position: absolute;
	right: -140px;
	top: 18px;
	color: #9bb6cc;
}
.main1{
	width: 1000px;
	height: 250px;
	margin: 20px auto;
}
.main1>div:first-child{
	width: 500px;
	height: 250px;
	float: left;
}
.main1>div:first-child img{
	width: 500px;
	height: 250px;
}
.main1>div:last-child{
	width: 500px;
	height: 250px;
	float: left;
	color: #105086;
	box-sizing: border-box;
	padding: 15px;
}
.main1>div:last-child h2{
	text-align: center;
	margin-bottom: 15px;
}
.main1>div:last-child p{
	line-height: 27px;
	margin-top: 15px;
}
.main2{
	width: 1000px;
	height: 280px;
	margin: 20px auto;
}
.main2>div{
	width: 320px;
	height: 280px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
.main2>div~div{
	margin-left: 20px;
}
.main2>div img{
	width: 320px;
	height: 280px;
	transition: all .8s;
}
.main2>div img:hover{
	transform: scale(1.2);
}
/*尾眉*/
footer{
    width: 100%;
    height: 75px;
    background-color: #3b3939;
    float: left;
}
footer p{
    color: #FFF;
    font-size: 17px;
    margin-top: 9px;
    margin-left: 190px;
}
footer p#sjhp{
    color:#FFF;
    font-size: 45px;
    position: absolute;
    top: 1730px;
    right: 200px;
    font-weight: 800;
}